
<div class="row">
  <div class="col s10 offset-s1">
    <table id="scorecard">
      <thead>
        <tr>
          <th>Player</th>
          <th ng-repeat="frame in vm.frames"> x</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Player 1</td>
          <td ng-repeat="frame in vm.frames"> x</td>
        </tr>
        <tr>
          <td>Player 2</td>
          <td ng-repeat="frame in vm.frames"> x</td>
        </tr>
        <tr id="divider">
          <td> x </td>
          <td ng-repeat="frame in vm.frames"> x</td>
        </tr>
        <tr>
          <td>Player 3</td>
          <td ng-repeat="frame in vm.frames"> x</td>
        </tr>
        <tr>
          <td>Player 4</td>
          <td ng-repeat="frame in vm.frames"> x</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
