<div class="row">
  <div class="col s2 center-align">
    <div ng-show="vm.activeTm === 1">
      SHOOTING
    </div>
  </div>
  <div class="col s2 offset-s8 center-align">
    <div ng-show="vm.activeTm === 2">
      SHOOTING
    </div>
  </div>
</div>

<div class="row">
  <div class="col s2 left-team center-align">
    TEAM #1
    <div class="player">
      Player 1
      <button class="btn waves-effect waves-light miss-btn">MISS</button>
    </div>
    <div class="player">
      Player 2
    </div>
  </div>
  <div class="col s8">
    <div id="table">
      <div class="col s6" id="table-left">
        <div class="config-start-left">
          <div class="col">
            <div class="cup cup-left-back-top">
              7
            </div>
            <div class="cup cup-left-back">
              8
            </div>
            <div class="cup cup-left-back">
              9
            </div>
            <div class="cup cup-left-back">
              10
            </div>
          </div>
          <div class="col">
            <div class="cup cup-left-mid-back-top">
              4
            </div>
            <div class="cup cup-left-mid-back">
              5
            </div>
            <div class="cup cup-left-mid-back">
              6
            </div>
          </div>
          <div class="col">
            <div class="cup cup-left-mid-front-top">
              2
            </div>
            <div class="cup cup-left-mid-front">
              3
            </div>
          </div>
          <div class="col">
            <div class="cup cup-left-front">
              1
            </div>
          </div>
        </div>
      </div>
      <div class ="col s6" id="table-right">
        <div class="config-start-right">
          <div class="col s1 offset-s8">
            <div class="cup cup-right-front">
              1
            </div>
          </div>
          <div class="col s1">
            <div class="cup cup-right-mid-front-top">
              3
            </div>
            <div class="cup cup-right-mid-front">
              2
            </div>
          </div>
          <div class="col s1">
            <div class="cup cup-right-mid-back-top">
              6
            </div>
            <div class="cup cup-right-mid-back">
              5
            </div>
            <div class="cup cup-right-mid-back">
              4
            </div>
          </div>
          <div class="col s1">
            <div class="cup cup-right-back-top">
              10
            </div>
            <div class="cup cup-right-back">
              9
            </div>
            <div class="cup cup-right-back">
              8
            </div>
            <div class="cup cup-right-back">
              7
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s2 left-team center-align">
    TEAM #2
    <div class="player">
      Player 1
    </div>
    <div class="player">
      Player 2
    </div>
  </div>
</div>
