<div id="start-modal" class="modal">
  <div class="modal-content">
    <h4>Who shoots first?</h4>
    <div class="row">
      <div class="col s12 center-align">
        <button class="btn modal-close waves-effect" ng-click="vm.activeTeam = 1">Team 1</button>
        <button class="btn modal-close waves-effect" ng-click="vm.activeTeam = 2">Team 2</button>
      </div>
    </div>
  </div>
</div>

<div id="bonus-modal" class="modal">
  <div class="modal-content">
    <h4> Pull <ng-pluralize count="vm.bonusCupArray.length" when="{'1': 'cup', 'other': 'cups'}"></ng-pluralize> {{vm.bonusMsg}}</h4>
    <div class="row">
      <div class="col s12 center-align">
        <button class="btn modal-close waves-effect" ng-click="vm.confirmBonus()">CONFIRM</button>
        <button class="btn modal-close waves-effect" ng-click="vm.redoBonus()">CHANGE CUPS</button>
      </div>
    </div>
  </div>
</div>

<div id="splash-modal" class="modal">
  <div class="modal-content">
    <div class="row splash-header center-align">
      <span class="col s10">
        Team x's Cup {{vm.cupNumb}} has been hit!
      </span>
      <span class="col s2 right-align">
        <button class="btn splash-x" ng-click="vm.closeModal()">CANCEL</button>
      </span>
    </div>
    <div class="row vert-ctr">
      <span class="modal-span">SPLASH METHOD</span>
      <button class="btn waves-effect btn-splash" ng-click="vm.shotResult = 'shot'" ng-class="{'btn-selected': vm.shotResult === 'shot'}">Shot</button>
      <button class="btn waves-effect btn-splash" ng-click="vm.shotResult = 'bounce'" ng-class="{'btn-selected': vm.shotResult === 'bounce'}">Bounce</button>
      <button class="btn waves-effect btn-splash" ng-click="vm.shotResult = 'spill'" ng-class="{'btn-selected': vm.shotResult === 'spill'}">Spill</button>
    </div>
    <div class="row vert-ctr">
      <span class="modal-span">WHO MADE THIS SHOT?</span>
      <button class="btn waves-effect btn-splash" ng-click="vm.shotMaker = 1" ng-class="{'btn-selected': vm.shotMaker === 1, 'disabled': vm.shotResult === 'spill' || vm.activeShooter === 'vm.t1p2' || vm.activeShooter === 'vm.t2p2'}">Player 1</button>
      <button class="btn waves-effect btn-splash" ng-click="vm.shotMaker = 2" ng-class="{'btn-selected': vm.shotMaker === 2, 'disabled': vm.shotResult === 'spill' || vm.activeShooter === 'vm.t1p1' || vm.activeShooter === 'vm.t2p1'}">Player 2</button>
    </div>
    <div class="row center-align subm-row">
      <button class="btn waves-effect btn-submit" ng-click="vm.splash(vm.shotResult, vm.shotMaker, vm.splashedCup)">SUBMIT</button>
    </div>
  </div>
</div>

<div id="rerack-modal" class="modal">
  <div class="modal-content">
    <div class="row splash-header center-align">
      <span class="col s10">
        Select the rerack formation for Team 1
      </span>
      <span class="col s2 right-align">
        <button class="btn splash-x" ng-click="vm.closeRack()">CANCEL</button>
      </span>
    </div>
    <div class="row center-align">
      Team {{vm.activeTeam}} has
      <span ng-if='vm.activeTeam === 1'>{{vm.t1cupsAvail}}</span>
      <span ng-if='vm.activeTeam === 2'>{{vm.t2cupsAvail}}</span>
      cups left to hit. Your rerack options are:
    </div>
    <div class="row" ng-if="vm.cupsToRack === 9">
      <div class="col s2 offset-s2">
        NINE CUP IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === '9-cup' ? vm.rackSelect = null : vm.rackSelect = '9-cup'" ng-class="{'btn-selected': vm.rackSelect === '9-cup', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='9-cup'}">9-CUP</button>
      </div>
    </div>
    <div class="row" ng-if="vm.cupsToRack === 8">
      <div class="col s2 offset-s2">
        8-CUP-W IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === '8-cup-W' ? vm.rackSelect = null : vm.rackSelect = '8-cup-W'" ng-class="{'btn-selected': vm.rackSelect === '8-cup-W', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='8-cup-W'}">8-CUP-W</button>
      </div>
      <div class="col s2 offset-s1">
        8-CUP-E IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === '8-cup-E' ? vm.rackSelect = null : vm.rackSelect = '8-cup-E'" ng-class="{'btn-selected': vm.rackSelect === '8-cup-E', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='8-cup-E'}">8-CUP-E</button>
      </div>
    </div>
    <div class="row" ng-if="vm.cupsToRack === 7">
      <div class="col s2 offset-s2">
        BASE-SEVEN IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === 'base-seven' ? vm.rackSelect = null : vm.rackSelect = 'base-seven'" ng-class="{'btn-selected': vm.rackSelect === 'base-seven', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='base-seven'}">BASE-SEVEN</button>
      </div>
      <div class="col s2">
        TRI-TIP IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === 'tri-tip' ? vm.rackSelect = null : vm.rackSelect = 'tri-tip'" ng-class="{'btn-selected': vm.rackSelect === 'tri-tip', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='tri-tip'}">TRI-TIP</button>
      </div>
      <div class="col s2">
        TRI+NW IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === 'tri+NW' ? vm.rackSelect = null : vm.rackSelect = 'tri+NW'" ng-class="{'btn-selected': vm.rackSelect === 'tri+NW', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='tri+NW'}">TRI+NW</button>
      </div>
      <div class="col s2">
        TRI+NE IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === 'tri+NE' ? vm.rackSelect = null : vm.rackSelect = 'tri+NE'" ng-class="{'btn-selected': vm.rackSelect === 'tri+NE', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='tri+NE'}">TRI+NE</button>
      </div>
      <div class="col s2">
        3-2-2 IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === '3-2-2' ? vm.rackSelect = null : vm.rackSelect = '3-2-2'" ng-class="{'btn-selected': vm.rackSelect === '3-2-2', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='3-2-2'}">3-2-2</button>
      </div>
    </div>
    <div class="row" ng-if="vm.cupsToRack === 6">
      <div class="col s2 offset-s2">
        6-CUP IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === '6-cup' ? vm.rackSelect = null : vm.rackSelect = '6-cup'" ng-class="{'btn-selected': vm.rackSelect === '6-cup', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='6-cup'}">6-CUP</button>
      </div>
    </div>
    <div class="row" ng-if="vm.cupsToRack === 5">
      <div class="col s2 offset-s2">
        EXCALIBUR IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === 'excalibur' ? vm.rackSelect = null : vm.rackSelect = 'excalibur'" ng-class="{'btn-selected': vm.rackSelect === 'excalibur', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='excalibur'}">EXCALIBUR</button>
      </div>
      <div class="col s2">
        EXCALIBUR-INV IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === 'excalibur-inv' ? vm.rackSelect = null : vm.rackSelect = 'excalibur-inv'" ng-class="{'btn-selected': vm.rackSelect === 'excalibur-inv', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='excalibur-inv'}">EXCALIBUR-INV</button>
      </div>
      <div class="col s2">
        TOWER IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === 'tower' ? vm.rackSelect = null : vm.rackSelect = 'tower'" ng-class="{'btn-selected': vm.rackSelect === 'tower', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='tower'}">TOWER</button>
      </div>
      <div class="col s2">
        DIAMOND+NW IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === 'diamond+NW' ? vm.rackSelect = null : vm.rackSelect = 'diamond+NW'" ng-class="{'btn-selected': vm.rackSelect === 'diamond+NW', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='diamond+NW'}">DIAMOND+NW</button>
      </div>
      <div class="col s2">
        DIAMOND+NE IMG
        <button class="btn btn-splash" ng-click="vm.rackSelect === 'diamond+NE' ? vm.rackSelect = null : vm.rackSelect = 'diamond+NE'" ng-class="{'btn-selected': vm.rackSelect === 'diamond+NE', 'disabled': vm.rackSelect !== null && vm.rackSelect !=='diamond+NE'}">DIAMOND+NE</button>
      </div>
    </div>
    <div class="row center-align subm-row">
      <button class="btn waves-effect btn-submit" ng-click="vm.rerack()">SUBMIT</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s2 center-align">
    <div ng-show="vm.activeTeam === 1">
      SHOOTING
    </div>
    Cups Avail: {{vm.t1cupsAvail}}
  </div>
  <div class="col s8 msg-display">
    {{vm.msg}}
  </div>
  <div class="col s2 center-align">
    <div ng-show="vm.activeTeam === 2">
      SHOOTING
    </div>
    Cups Avail: {{vm.t2cupsAvail}}
  </div>
</div>

<div class="row">
  <div class="col s2 left-team">
    TEAM #1
      <button class="btn waves-effect waves-light btn-rerack" ng-click="vm.openRack()" ng-class="{'disabled': vm.activeTeam === 2 || vm.activeShooter === 'vm.t1p2' || vm.activeShooter === 'vm.t1p1' || vm.bonusActive}">RERACK</button>
    <div class="player">
      Player 1
      <div>
        <button class="btn waves-effect waves-light btn-miss" ng-click="vm.miss(1)" ng-class="{'disabled': vm.activeTeam === 2 || vm.activeShooter === 'vm.t1p2' || vm.bonusActive}">MISS</button>
      </div>
    </div>
    <div class="player">
      Player 2
      <div>
        <button class="btn waves-effect waves-light btn-miss" ng-click="vm.miss(2)" ng-class="{'disabled': vm.activeTeam === 2 || vm.activeShooter === 'vm.t1p1' || vm.bonusActive}">MISS</button>
      </div>
    </div>
  </div>
  <div class="col s8">
    <div id="table">
      <div class="col s6" id="table-left" ng-class="{'cup-disabled': vm.activeTeam === 1}">
        <div class="col left-back">
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l7') : null" ng-class="{'cup-active': vm.activeCup === 'l7', 'cup-bonus': vm.bonusCups['l7'], 'hidden': vm.showCups['l7'] === false}">
            7
          </div>
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l8') : null" ng-class="{'cup-active': vm.activeCup === 'l8', 'cup-bonus': vm.bonusCups['l8'], 'hidden': vm.showCups['l8'] === false}">
            8
          </div>
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l9') : null" ng-class="{'cup-active': vm.activeCup === 'l9', 'cup-bonus': vm.bonusCups['l9'], 'hidden': vm.showCups['l9'] === false}">
            9
          </div>
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l10') : null" ng-class="{'cup-active': vm.activeCup === 'l10', 'cup-bonus': vm.bonusCups['l10'], 'hidden': vm.showCups['l10'] === false}">
            10
          </div>
        </div>
        <div class="col left-mid-back">
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l4') : null" ng-class="{'cup-active': vm.activeCup === 'l4', 'cup-bonus': vm.bonusCups['l4'], 'hidden': vm.showCups['l4'] === false}">
            4
          </div>
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l5') : null" ng-class="{'cup-active': vm.activeCup === 'l5', 'cup-bonus': vm.bonusCups['l5'], 'hidden': vm.showCups['l5'] === false}">
            5
          </div>
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l6') : null" ng-class="{'cup-active': vm.activeCup === 'l6', 'cup-bonus': vm.bonusCups['l6'], 'hidden': vm.showCups['l6'] === false}">
            6
          </div>
        </div>
        <div class="col left-mid-front">
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l2') : null" ng-class="{'cup-active': vm.activeCup === 'l2', 'cup-bonus': vm.bonusCups['l2'], 'hidden': vm.showCups['l2'] === false}">
            2
          </div>
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l3') : null" ng-class="{'cup-active': vm.activeCup === 'l3', 'cup-bonus': vm.bonusCups['l3'], 'hidden': vm.showCups['l3'] === false}">
            3
          </div>
        </div>
        <div class="col left-front">
          <div class="cup" ng-click="vm.activeTeam === 2 ? vm.cupClick('l1') : null" ng-class="{'cup-active': vm.activeCup === 'l1', 'cup-bonus': vm.bonusCups['l1'], 'hidden': vm.showCups['l1'] === false}">
            1
          </div>
        </div>
      </div>
      <div class="col s6" ng-class="{'cup-disabled': vm.activeTeam === 2}" id="table-right">
        <div class="col right-back">
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r10') : null" ng-class="{'cup-active': vm.activeCup === 'r10', 'cup-bonus': vm.bonusCups['r10'], 'hidden': vm.showCups['r10'] === false}" ng-hide="vm.t1activeRack === 'tri-tip' || vm.t1activeRack === 'tri+NW' || vm.t1activeRack === 'tri+NE' || vm.t1activeRack === '3-2-2' || vm.t1activeRack === '6-cup' || vm.t1activeRack === 'excalibur' || vm.t1activeRack === 'excalibur-inv' || vm.t1activeRack === 'tower' || vm.t1activeRack === 'diamond+NW' || vm.t1activeRack === 'diamond+NE'">
            10
          </div>
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r9') : null" ng-class="{'cup-active': vm.activeCup === 'r9', 'cup-bonus': vm.bonusCups['r9'], 'hidden': vm.showCups['r9'] === false}" ng-hide="vm.t1activeRack === 'excalibur' || vm.t1activeRack === 'excalibur-inv' || vm.t1activeRack === 'tower' || vm.t1activeRack === 'diamond+NW' || vm.t1activeRack === 'diamond+NE'">
            9
          </div>
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r8') : null" ng-class="{'cup-active': vm.activeCup === 'r8', 'cup-bonus': vm.bonusCups['r8'], 'hidden': vm.showCups['r8'] === false}" ng-hide="vm.t1activeRack === 'excalibur' || vm.t1activeRack === 'excalibur-inv' || vm.t1activeRack === 'diamond+NW' || vm.t1activeRack === 'diamond+NE'">
            8
          </div>
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r7') : null" ng-class="{'cup-active': vm.activeCup === 'r7', 'cup-bonus': vm.bonusCups['r7'], 'hidden': vm.showCups['r7'] === false}">
            7
          </div>
        </div>
        <div class="col right-mid-back">
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r6') : null" ng-class="{'cup-active': vm.activeCup === 'r6', 'cup-bonus': vm.bonusCups['r6'], 'hidden': vm.showCups['r6'] === false}" ng-hide="vm.t1activeRack === 'tri-tip' || vm.t1activeRack === 'tri+NW' || vm.t1activeRack === 'tri+NE' || vm.t1activeRack === '3-2-2' || vm.t1activeRack === '6-cup' || vm.t1activeRack === 'excalibur' || vm.t1activeRack === 'excalibur-inv' || vm.t1activeRack === 'tower' || vm.t1activeRack === 'diamond+NW' || vm.t1activeRack === 'diamond+NE'">
            6
          </div>
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r5') : null" ng-class="{'cup-active': vm.activeCup === 'r5', 'cup-bonus': vm.bonusCups['r5'], 'hidden': vm.showCups['r5'] === false}" ng-hide="vm.t1activeRack === 'excalibur-inv' || vm.t1activeRack === 'tower'">
            5
          </div>
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r4') : null" ng-class="{'cup-active': vm.activeCup === 'r4', 'cup-bonus': vm.bonusCups['r4'], 'hidden': vm.showCups['r4'] === false, 'push-n': vm.t1activeRack === 'excalibur-inv'}">
            4
          </div>
        </div>
        <div class="col right-mid-front">
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r3') : null" ng-class="{'cup-active': vm.activeCup === 'r3', 'cup-bonus': vm.bonusCups['r3'], 'hidden': vm.showCups['r3'] === false, 'push-w': vm.t1activeRack === 'tri+NW' || vm.t1activeRack === 'diamond+NW', 'push-e': vm.t1activeRack === 'tri+NE' || vm.t1activeRack === 'diamond+NE', 'push-n': vm.t1activeRack === '3-2-2'}" ng-hide="vm.t1activeRack === 'tri-tip' || vm.t1activeRack === '6-cup' || vm.t1activeRack === 'excalibur' || vm.t1activeRack === 'tower'">
            3
          </div>
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r2') : null" ng-class="{'cup-active': vm.activeCup === 'r2', 'cup-bonus': vm.bonusCups['r2'], 'hidden': vm.showCups['r2'] === false, 'push-n': vm.t1activeRack === '3-2-2' || vm.t1activeRack === 'tower'}" >
            2
          </div>
        </div>
        <div class="col right-front">
          <div class="cup" ng-click="vm.activeTeam === 1 ? vm.cupClick('r1') : null" ng-class="{'cup-active': vm.activeCup === 'r1', 'cup-bonus': vm.bonusCups['r1'], 'hidden': vm.showCups['r1'] === false, 'push-n': vm.t1activeRack === 'tri-tip' || vm.t1activeRack === 'excalibur' || vm.t1activeRack === 'tower'}" ng-hide="vm.t1activeRack === 'tri+NW' || vm.t1activeRack === 'tri+NE' || vm.t1activeRack === '3-2-2' || vm.t1activeRack === '6-cup' || vm.t1activeRack === 'diamond+NW' || vm.t1activeRack === 'diamond+NE'">
            1
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s2 left-team">
    TEAM #2
      <button class="btn waves-effect waves-light btn-rerack" ng-class="{'disabled': vm.activeTeam === 1 || vm.activeShooter === 'vm.t2p2' || vm.activeShooter === 'vm.t2p1' || vm.bonusActive}">RERACK</button>
    <div class="player">
      Player 1
      <div>
        <button class="btn waves-effect waves-light btn-miss" ng-click="vm.miss(1)" ng-class="{'disabled': vm.activeTeam === 1 || vm.activeShooter === 'vm.t2p2' || vm.bonusActive}">MISS</button>
      </div>
    </div>
    <div class="player">
      Player 2
      <div>
        <button class="btn waves-effect waves-light btn-miss" ng-click="vm.miss(2)" ng-class="{'disabled': vm.activeTeam === 1 || vm.activeShooter === 'vm.t2p1' || vm.bonusActive}">MISS</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 center-align">
    Frame: {{vm.activeFrame}} ... Team: {{vm.activeTeam}} ... Turn Shots: {{vm.turnShots}} ... Frame Shots: {{vm.frameShots}}
  </div>
  <div class="col s12 center-align">
    Active Cup: {{vm.activeCup}} ... Double Opp: {{vm.doubleOpp}}
  </div>
</div>
