

a {
  color: #00B7FF;
}

/*SCORECARD STYLES*/
#scorecard td {
  border: solid 1px black
}

#divider {
  line-height: 1px;
}

#divider td {
  background-color: black
}


/*TABLE STYLES*/
#table {
  border: solid 3px black;
  height: 285px;
  border-radius: 10%;
  margin-top: 10px;
}

#table-right {
  height: 99.9%;
  border-left: 1px solid black;
}

.left-team {
  margin-top: 20px;
  text-align: center;
}

.btn-miss {
  background-color: #B11C19;
  border-radius: 10%;
}

.btn-miss:hover {
  background-color: #DB251F
}

.btn-miss:focus {
  background-color: #DB251F
}

.btn-rerack {
  background-color: #7099E2;
  width: 110px;
}

.btn-spill {
  width: 110px;
}

.player {
  margin-top: 30px;
}

.rack-left-default {
  margin-left: -12px;
}

.rack-right-default {
  margin-right: -50px;
}

.cup {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid 3px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
}

.cup-disabled > div.col > div.cup {
  border: solid 3px #C9C2C2;
  color: #C9C2C2;
}

.cup:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.cup-left-back {
  margin-left: -10px;
}

.cup-left-back-top {
  margin-top: 20px;
  margin-left: -10px;
}

.cup-left-mid-back-top {
  margin-top: 50px;
  margin-left: -32px;
}

.cup-left-mid-back {
  margin-left: -32px;
}

.cup-left-mid-front-top {
  margin-top: 80px;
  margin-left: -32px;
}

.cup-left-mid-front {
  margin-left: -32px
}

.cup-left-front {
  margin-top: 110px;
  margin-left: -32px;
}

.cup-right-back {
  margin-left: -32px;
}

.cup-right-back-top {
  margin-top: 20px;
  margin-left: -32px;
}

.cup-right-mid-back-top {
  margin-top: 50px;
  margin-left: -60px
}

.cup-right-mid-back {
  margin-left: -60px
}

.cup-right-mid-front-top {
  margin-top: 80px;
  margin-left: -90px;
}

.cup-right-mid-front {
  margin-left: -90px;
}

.cup-right-front {
  margin-top: 110px;
  margin-left: -117px;
}
