

a {
  color: #00B7FF;
}

/*GAME STYLES*/
.game-tabs {
  border-bottom: solid 1px black;
  height: 40px;
  /*padding-right: 0px;*/
  width: 100%;
}

.game-tabs > .col {
  border-right: solid 1px black;
  height: 40px;
  padding: 0 0 0 0;
  margin: 0px;
}

/*SCORECARD STYLES*/
#scorecard td {
  border: solid 1px black
}

#divider {
  line-height: 1px;
}

#divider td {
  background-color: black
}


/*TABLE STYLES*/
#table {
  border: solid 3px black;
  height: 285px;
  border-radius: 10%;
  margin-top: 10px;
}

#table-right {
  height: 99.9%;
  border-left: 1px solid black;
}

.left-team {
  margin-top: 20px;
  text-align: center;
}

.btn-miss {
  background-color: #B11C19;
  border-radius: 10%;
}

.btn-miss:hover {
  background-color: #DB251F
}

.btn-miss:focus {
  background-color: #DB251F
}

.btn-rerack {
  background-color: #7099E2;
  width: 110px;
}

.btn-spill {
  width: 110px;
}

.btn-splash {
  display: inline;
  background-color: #E8E8E8;
  color: black;
  margin-left: 10px;
  margin-bottom: -10px;
}

.btn-splash:focus {
  background-color: #2F5032;
  color: white;
}

.btn-submit {
  display: inline;
  background-color: #E8E8E8;
  color: black;
  margin-top: 20px;
}

.btn-selected {
  background-color: #2F5032;
  color: white;
}

#splash-modal {
  padding-bottom: -10px;
}

.splash-header {
  border-bottom: solid 1px #6D6D6D;
  padding-bottom: 5px;
  font-size: 24px;
}

.splash-x {
  background-color: #B11C19;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 10px;
}

.vert-ctr {
  display: flex;
  align-items: center;
}

.subm-row {
  /*border-top: solid 1px #6D6D6D;*/
  padding-bottom: 0;
  margin-bottom: 0;
}

.modal-span {
  font-size: 24px;
  margin-top: 10px;
}

.player {
  margin-top: 30px;
}

.rack-left-default {
  margin-left: -12px;
}

.rack-right-default {
  margin-right: -50px;
}

.cup {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid 3px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
}

.hidden {
  visibility: hidden;
}

.cup-disabled > div.col > div.cup {
  border: solid 3px #C9C2C2;
  color: #C9C2C2;
}

.cup-active {
  border: solid 3px #B11C19;
  background-color: #EACF35;
  color: #B11C19;
}

.cup:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.cup-left-back {
  margin-left: -10px;
}

.cup-left-back-top {
  margin-top: 20px;
  margin-left: -10px;
}

.cup-left-mid-back-top {
  margin-top: 50px;
  margin-left: -32px;
}

.cup-left-mid-back {
  margin-left: -32px;
}

.cup-left-mid-front-top {
  margin-top: 80px;
  margin-left: -32px;
}

.cup-left-mid-front {
  margin-left: -32px
}

.cup-left-front {
  margin-top: 110px;
  margin-left: -32px;
}

.cup-right-back {
  margin-left: -32px;
}

.cup-right-back-top {
  margin-top: 20px;
  margin-left: -32px;
}

.cup-right-mid-back-top {
  margin-top: 50px;
  margin-left: -60px
}

.cup-right-mid-back {
  margin-left: -60px
}

.cup-right-mid-front-top {
  margin-top: 80px;
  margin-left: -90px;
}

.cup-right-mid-front {
  margin-left: -90px;
}

.cup-right-front {
  margin-top: 110px;
  margin-left: -117px;
}
