

a {
  color: #00B7FF;
}

/*GAME STYLES*/
.game-tabs {
  border-bottom: solid 1px black;
  height: 40px;
  /*padding-right: 0px;*/
  width: 100%;
}

.game-tabs > .col {
  border-right: solid 1px black;
  height: 40px;
  padding: 0 0 0 0;
  margin: 0px;
}

/*SCORECARD STYLES*/
#scorecard td {
  border: solid 1px black
}

#divider {
  line-height: 1px;
}

#divider td {
  background-color: black
}


/*TABLE STYLES*/
#table {
  border: solid 3px black;
  height: 285px;
  border-radius: 10%;
  margin-top: 10px;
}

.cup {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid 3px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
}

.cup-disabled > div.col > div.cup {
  border: solid 3px #C9C2C2;
  color: #C9C2C2;
}

.cup-active {
  border: solid 3px #B11C19;
  background-color: #EACF35;
  color: #B11C19;
}

.cup-bonus {
  border: solid 3px #2F5032;
  background-color: #68A870;
  color: white;
}

.push-n {
  margin-right: 10px;
}

.push-w {
  margin-top: 60px;
}

.push-e {
  margin-top: -60px;
}

.push-s {
  margin-right: -10px;
}

.zipper-small {
  margin-left: -30px;
}

.pull-e {
  margin-top: -10px;
}

.zipper-W-4 {
  margin-right: 10px;
  margin-top: -10px;
}

.zipper-W-2 {
  margin-top: 50px;
  margin-right: 10px;
}

.zipper-E-small {
  margin-left: -28px;
  margin-top: -7px;
}

.zipper-E-2 {
  margin-top: -50px;
  margin-right: 10px;
}

/*LEFTSIDE TABLE STYLES*/

#table-left {
  margin-left: -12px;
  height: 280px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-back {
  margin-left: -10px;
}

.left-mid-back {
  margin-left: -32px;
}

.left-mid-front {
  margin-left: -32px;
}

.left-front {
  margin-left: -32px;
}

/*RIGHTSIDE TABLE STYLES*/

#table-right {
  margin-right: 12px;
  padding-right: 0px;
  height: 280px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
}

.right-back {
  margin-right: -22px;
}

.right-mid-back {
  margin-right: -32px;
}

.right-mid-front {
  margin-right: -32px;
}

.right-front {
  margin-right: -32px;
}

.msg-display {
  text-align: center;
}

.left-team {
  margin-top: 20px;
  text-align: center;
}

/*BUTTON STYLES*/

.btn-miss {
  background-color: #B11C19;
  border-radius: 10%;
}

.btn-miss:hover {
  background-color: #DB251F
}

.btn-miss:focus {
  background-color: #DB251F
}

.btn-rerack {
  background-color: #7099E2;
  width: 110px;
}

.btn-spill {
  width: 110px;
}

.btn-splash {
  display: inline;
  background-color: #E8E8E8;
  color: black;
  margin-left: 10px;
  margin-bottom: -10px;
}

.btn-splash:focus {
  background-color: #2F5032;
  color: white;
}

.btn-submit {
  display: inline;
  background-color: #E8E8E8;
  color: black;
  margin-top: 20px;
}

.btn-selected {
  background-color: #2F5032;
  color: white;
}

/*SPLASH MODAL STYLES*/

#splash-modal {
  padding-bottom: -10px;
}

.splash-header {
  border-bottom: solid 1px #6D6D6D;
  padding-bottom: 5px;
  font-size: 24px;
}

.splash-x {
  background-color: #B11C19;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 10px;
}

.vert-ctr {
  display: flex;
  align-items: center;
}

.subm-row {
  padding-bottom: 0;
  margin-bottom: 0;
}

.modal-span {
  font-size: 24px;
  margin-top: 10px;
}

.player {
  margin-top: 30px;
}

.hidden {
  visibility: hidden;
}
